backend==0.2.4.1
cryptography==46.0.5
fastapi==0.135.1
gtts==2.5.4
httpx==0.28.1
joblib==1.5.3
jose==1.0.0
mediapipe==0.10.32
numpy==2.4.2
pandas==3.0.1
passlib==1.7.4
playsound3==3.3.1
psycopg2==2.9.11
pydantic==2.12.5
pydantic_settings==2.13.1
pyotp==2.9.0
python-dotenv==1.2.2
qrcode==8.2
Requests==2.32.5
scikit_learn==1.8.0
SQLAlchemy==2.0.48
